.container {
  margin-left: auto;
  margin-right: auto;
  @media screen and(max-width: $to-mobile) {
    max-width: $to-mobile;
  }
  @media screen and(min-width: $mobile) {
    width: $mobile;
    padding: 0 20px;
  }
  @media screen and(min-width: $tablet) {
    width: $tablet;
    padding: 0 79px;
  }
  @media screen and(min-width: $desktop) {
    width: $desktop;
    padding: 0 167px;
  }
}
