
<div class="modal-box">
    <button class="modal__btn">
        <span class="modal__btn_close"></span>
    </button>
    <form class="modal__form" action="">
        <div class="modal__circle">
            <img src="#" alt="" />
        </div>
        <div class="modal__container">
            <div class="modal__img">
                <img src="{{images.[9].url}}" alt="" />
            </div>
            <div class="modal__info">
                <ul class="modal__list">
                    <li class="modal__item">
                        <b class="modal__title">INFO</b>
                        <p class="modal__text">
                            Atlas Weekend is the largest music festival in Ukraine.More than 200 artists will
                            create a proper music festival atmosphere on 10 stages
                        </p>
                    </li>
                    <li class="modal__item">
                        <b class="modal__title">WHEN </b>
                        <ul class="modal__text">
                            <li>{{dates.start.localDate}}</li>
                            <li>{{dates.start.localTime}} (Kyiv/Ukraine)</li>
                        </ul>
                    </li>
                    <li class="modal__item">
                        <b class="modal__title">WHERE </b>
                        <ul class="modal__text">
                            <li>Kyiv, Ukraine</li>
                            <li>VDNH</li>
                        </ul>
                    </li>
                    <li class="modal__item">
                        <b class="modal__title">WHO</b>
                        <ul class="modal__text">
                            <li>The Black Eyed Peas</li>
                        </ul>
                    </li>
                    <li class="modal__item">
                        <b class="modal__title">PRICES</b>
                        <ul>
                            <li class="modal__text">
                                <span class="modal__barcode">Standart 300-500 UAH</span>
                            </li>
                            <li class="modal_buy">
                                <button class="btn">BUY TICKETS</button>
                            </li>
                            <li class="modal__text">
                                <span class="modal__barcode">VIP 1000-1500 UAH</span>
                            </li>
                            <li class="modal_buy">
                                <button class="btn">BUY TICKETS</button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <button class="modal__btn_submit" type="submit">MORE FROM THIS AUTHOR</button>
    </form>
</div>
