body.modal_open {
    overflow: hidden;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    backdrop-filter: blur(3px);
    z-index: 2;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.backdrop.is-hidden .modal-team {
    transform: translate(-50%, -50%) scale(1.1);
}

.modal-team {
    @media screen and (max-width: 319px) {
        width: 248px;
        min-height: auto;
        border-radius: 80px 0;
        top: 50%;
    left: 50%;
      }
      @media screen and (min-width: 320px) {
        position: fixed;
        width: 248px;
        top: 100px;
    left: 50%;
    overflow-y: auto;
    transform: translate(-50%, -50px) scale(1);
        height: 620px;
        margin-top: 10px;
        border-radius: 80px 0;
        background-color: #FFF2FD;
        text-align: center;
        // transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      @media screen and (min-width: 595px) {
        width: 595px;
        height: 420px;
    }
          position: relative;
          margin: 0;
          left: 50%;
          right: 50%;
          top: 50%;
          bottom: 50%;
          transform: translate(-50%, -50%) scale(1);
        width: 595px;
        height: 320px;
        border-radius: 100px 0;
        background-color: #FFF2FD;
    @media screen and (min-width: 1050px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 1100px;
    height: 610px;
    margin-top: 0;
    background-color: #FFF2FD;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 120px 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    // overflow: hidden;
}
}
.modal_btn_close {
    @media screen and (max-width: 319px) {
        
        position: absolute;
        padding: 0;
        background-color: #FFF2FD;

    }
    @media screen and (min-width: 320px) {
        
    position: absolute;
    padding: 0;
    background-color: #FFF2FD;
    top: 4px;
    right: 4px;
    width: 20px;
    height: 20px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    @media screen and (min-width: 595px) {
        top: 6px;
        right: 6px;
        width: 25px;
        height: 25px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 0;
    background-color: #FFF2FD;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
   cursor: pointer;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_btn_close::before {
    transform: rotate(-45deg);
    transition: transform 300ms linear;
    position: absolute;
    display: block;
    content: '';
    width: 20px;
    height: 3px;
    background-color: #4c00fe;
  }
  
  .modal_btn:hover .modal__btn_close::before {
    transform: rotate(-130deg);
  }
  
  .modal_btn:hover .modal__btn_close::after {
    transform: rotate(130deg);
  }
  
  .modal_btn_close::after {
    transform: rotate(45deg);
    transition: transform 300ms linear;
    position: absolute;
    display: block;
    content: '';
    width: 20px;
    height: 3px;
    background-color: #4c00fe;
  }
.modalTitle {
    @media screen and (min-width: 320px) {
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 20px;
    color: #DC56C5;
    font-family: Montserrat;
    }
    @media screen and (min-width: 595px) {
        font-size: 22px;
        margin: 0 0 20px 0;
    }
    @media screen and (min-width: 1050px) {
    font-family: Montserrat;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #DC56C5;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.19;
    text-align: center;
    
}
}

.personal-item {
    @media screen and (min-width: 320px) {
    display: inline-block;
    margin: 0 0 20px 0;
    padding: 0;
    width: 200px;
    height: 30px;
    justify-content: center;
    text-align: center;
    }
    @media screen and (min-width: 595px) {
        
    width: 100px;
    height: 140px;
    margin: 0 10px 0 0;
    justify-content:flex-start ;
    }
    @media screen and (min-width: 1050px) {
    position: relative;
    width: 180px;
    height: 260px;
    margin-right: 20px;
    margin-bottom: 15px;
    
    background: #FFF2FD;
    &:hover,
    &:focus {
        box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.12), 2px 1px 1px rgba(0, 0, 0, 0.14), -1px -2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 15px 0;
    }
}
}

.personal-item:nth-child(5n) {
    margin-right: 0%;
}

.personal-photo {
    @media screen and (min-width: 320px) {
    display: none;
    }
    @media screen and (min-width: 595px) {
        display: block;
    width: 90px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    vertical-align: top;
    }
    @media screen and (min-width: 1050px) {
    width: 150px;
    display: block;
    margin: 0 auto;
    border-radius: 8px 0;
    margin-top: 12px;
    }
}
.headlines-name {
    @media screen and (min-width: 320px) {
    display: inherit ;
    margin: 0;
    color: #DC56C5;
    font-weight: 700;
    font-size: 14px;
    }
    @media screen and (min-width: 595px) {
    margin: 0;
    font-size: 11px;
    height: 22.5px;
    }
        @media screen and (min-width: 1050px) {
    font-family: Montserrat;
    margin-top: 12px;
    margin-bottom: 5px;
    color: #DC56C5;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.19;
    text-align: center;
}
}
.position {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    margin: 0;
    line-height: 1.19;
    color: #242424;
}
.headlines-list1 {
    @media screen and (min-width: 320px) {
    display: block;
    margin: 0;
    }
    @media screen and (min-width: 595px) {
    margin-bottom: 20px;
    }
    @media screen and (min-width: 1050px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-bottom: 0px;
    text-align: center;
}
}
.headlines-list2 {
    @media screen and (min-width: 320px) {
        display: block;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        }
        @media screen and (min-width: 1050px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 35px;
    margin-bottom: 0;
    
    text-align: center;
}
}
.social-item {
    // @media screen and (min-width: 320px) {
    //     width: 26px;
    //     height: 26px;
    //     border-radius: 0;
    // }
    @media screen and (min-width: 595px) {
    display: flex;
    align-items: center ;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 10px 0;
    border: 1px solid #DC56C5;
    background-color: black;
    fill: white;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        background-color: rgba(220, 86, 197, 0.5);
        fill: wheat;
    }
}
}
.social>li:nth-child(1) {
    margin-right: 10px;
}
.social {
    @media screen and (min-width: 320px) {
    display: inline-flex;
    align-items: center ;
    justify-content: center;
    margin-bottom: 8px;
    }
    @media screen and (min-width: 595px) {
    
    }
        @media screen and (min-width: 1050px) {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    right: 50%;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    }

}
button {
    border: none;
}