.btn-arrow-up {
  padding: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 64px;
  height: 64px;
  text-align: center;
  border-radius: 50%;
  background-color: Transparent;
  border-width: 4px;
  border-color: $accent-color;
  color: $accent-color;
  font-size: 40px;
}

.btn-arrow-up:hover {
  border-color: $darc-theme-main-text-color;
  color: $darc-theme-main-text-color;
}
.is--hiden--btn {
  display: none;
}
@media screen and (min-width: 1200px) {
  .btn-arrow-up {
    right: 70px;
  }
}
