
       .events-list__item {
           @media screen and (max-wigth: 767px) {
               width: 138px;
           }
           width: 196px;
           display: block;
           text-align: center;
           background-color: black;
       }
       
       .event-image {
           @media screen and (max-wigth: 767px) {
               width: 128px;
               height: 161px;
           }
           width: 180px;
           height: 277px;
           border-radius: 50px 0px;
       }
       
       .event-name {
           margin-top: 5px;
           color: $accent-color;
       }
       
       .event-date {
           margin: 0;
           margin-top: 5px;
           color: $darc-theme-main-text-color;
       }
       
       .event-location {
           display: block;
           margin: 0;
           margin-top: 5px;
           color: $darc-theme-main-text-color;
       }

@import './inputs-styles';

