body.show-modal .backdrop-fav {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal .modal-fav {
  transform: scale(1);
}

.backdrop-fav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.modal-fav > .button-fav {
  position: absolute;
  right: 30px;
}

.modal-fav {
  position: fixed;
  top: 50px;
  bottom: 50px;
  padding: 24px;
  border-radius: 4px;
  max-width: 1050px;
  height: 1000px;
  width: 100%;
  min-height: 320px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
  overflow: auto;
}

.modal__btn__more.actice-add-to-fav {
  background-color: #4c00fe;
  color: #fff;
}

.modal__btn__more.actice-remove-to-fav {
  background-color: #ffa9a9;
  color: rgb(77, 77, 77);
  border: 0;
}

.fav-events-list {
  @media screen and (max-width: $mobile) {
    justify-content: center;
  }
  display: flex;
  flex-wrap: wrap;
}
