.events__search-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 147px;

  display: flex;
  flex-direction: column;

  width: 270px;
  margin-left: auto;
  margin-right: auto;

  @media screen and(min-width: $tablet) {
    flex-direction: row;
    width: 570px;
    top: 141px;
  }

  @media screen and(min-width: $desktop) {
    top: 214px;
  }
}
.events__search-label {
  position: absolute;
  top: 13px;
  right: 30px;

  pointer-events: none;
  @media screen and(min-width: $tablet) {
    left: 225px;
  }
}
.events__select-label {
  position: absolute;
  top: 79px;
  right: 30px;

  pointer-events: none;
  @media screen and(min-width: $tablet) {
    top: 13px;
    right: 25px;
  }
  @media screen and(min-width: $desktop) {
  }
}
.events__input {
  color: $secondary-text-color;
  font-size: 16px;
  line-height: 1.15;
  padding: 10px 30px;

  background-color: rgba(255, 255, 255, 0.2);

  border-radius: 20px;

  border-color: transparent;
}
.events__search-query {
  @media screen and(max-width: $to-tablet) {
    margin-bottom: 25px;
  }
  @media screen and(min-width: $tablet) {
    width: 270px;
    margin-right: 30px;
  }
}
.events__search-country {
  @media screen and(min-width: $tablet) {
    width: 270px;
  }
}
select {
  appearance: none;
}
