.spinner {
  position: absolute;
  top: 287px;
  left: 50%;
  transform: translateX(-50%);
  @media screen and(min-width: $tablet) {
    top: 241px;
  }
  @media screen and(min-width: $desktop) {
    top: 314px;
  }
  &.opacity {
    opacity: 0;
  }
}
.spinner-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  &.opacity {
    opacity: 0;
  }
  &:not(:last-child) {
    margin-right: 5px;
  }
}
