.hero-main {
  position: relative;
}
.modal-authentication {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 80px 0;

  background-color: #fff2fd;
  font-size: 16px;

  @media screen and (max-width: 319px) {
    width: 272px;
    min-height: auto;
  }
  @media screen and (min-width: 320px) {
    width: 272px;
    min-height: auto;
  }
  @media screen and (min-width: 595px) {
    width: 595px;
    min-height: auto;
    font-size: 17px;
  }
  @media screen and (min-width: 1050px) {
    width: 942px;
    min-height: auto;
    font-size: 20px;

    transform: translate(-50%, -50%) scale(0.7);
  }
}
.input-conteiner {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 0 20px;
  @media screen and (min-width: 595px) {
    padding: 0 100px;
  }
}
.input-email {
  margin-bottom: 20px;
  background-color: transparent;

  border: none;
  border-bottom: 3px solid $accent-color;
  height: 40px;
}
.input-pass {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid $accent-color;
  height: 40px;
}
.btn-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  @media screen and (min-width: 595px) {
    padding: 0 100px;
  }
}
.btn-list-item {
  margin-right: 15px;
  margin-bottom: 10px;
}

.btn-authentication-modal {
  padding: 4px;
  background-color: transparent;
  border: 1px solid $accent-color;
  cursor: pointer;
  color: #7c7c7c;
}

.btn-authentication-modal:hover {
  background-color: $accent-color;
  color: #939393;
}

.authentication-overlay.is--open {
  opacity: 1;
  pointer-events: initial;
}

.authentication-overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
  pointer-events: none;
  background: rgba(32, 13, 29, 0.6);
  backdrop-filter: blur(3px);

  transition: opacity 250ms linear;
}
.greeting-authentication {
  text-align: center;
}
.disabled-btn {
  display: none;
}
.btn-action {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}
