<div data-modal-backdrop id="modal-authentication" class="backdrop__modal is--hidden">
    <div class="modal-authentication">
        <button data-modal-window-close class="modal__btn">
            <span class="modal__btn_close"></span>
        </button>
        <input type="email" id='txtEmail' placeholder="Email">
        <input type="password" id='txtPassword' placeholder="Password">
        <button id="btnLogin" class='btn-authentication-modal btn-action'>Log in</button>
        <button id="btnSignUp" class='btn-authentication-modal btn-secondary'>Sign UP</button>
        <button id='btnLogout' class='btn-authentication-modal btn-action hide'>Log out</button>
    </div>
</div>