<div data-modal-backdrop-authentication id="modal-authentication" class="authentication-overlay">
    <div class="modal-authentication">
        <button data-modal-window-close-authentication class="modal__btn">
            <span class="modal__btn_close"></span>
        </button>
        <p class="greeting-authentication"></p>
        <div class="input-conteiner">
            <input type="email" id='txtEmail' class='input-email' placeholder="Email">
            <input type="password" id='txtPassword' class='input-pass' placeholder="Password">
        </div>
        <ul class="btn-list">
            <li class='btn-list-item'><button id="btnLogin" class='btn-authentication-modal btn-action-login'>Log in</button></li>
            <li class='btn-list-item'><button id="btnSignUp" class='btn-authentication-modal btn-secondary'>Sign UP</button></li>
            <li class='btn-list-item'><button id='btnLogout' class='btn-authentication-modal btn-action disabled-btn'>Log out</button></li>
        </ul>      
    </div>
</div>