<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button data-modal-close  class="close"><svg class="closeLogo" width="18" height="18">
            <use href="./../src/images/svg/symbol.svg#close-button"></use>
        </svg></button>
        <h3 class="modalTitle">Над проектом трудились</h3>
        <ul class="headlines-list1 list">
            <li class="personal-item">
                <img class="personal-photo" src="./../src/images/developer-photo/Aleksandr-Pilganchuk-150х145.jpg" width="150" alt="фото фронтэнд разработчика">
                <h3 class="headlines-name">Aleksandr Pilganchuk</h3>
                <p class="position">Team Lead</p>
                <ul class="social">
                    <li>
                        <a class="social-item" href="">
                            <svg width="20px" height="20px">
                                <use href="./../src/images/svg/symbol.svg#git"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="social-item" href="">
                            <svg width="20px" height="20px">
                                <use class="social-icon" href="./../src/images/svg/symbol.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="personal-item">
                <img class="personal-photo" src="./../src/images/developer-photo/Ihor-Venher-150х145.jpg" width="150" alt="фото фронтэнд разработчика">
                <h3 class="headlines-name">Ihor Venher</h3>
                <p class="position">Scrum Master</p>
                <ul class="social">
                    <li>
                        <a class="social-item" href="">
                            <svg width="20px" height="20px">
                                <use href="./../src/images/svg/symbol.svg#git"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="social-item" href="">
                            <svg width="20px" height="20px">
                                <use class="social-icon" href="./../src/images/svg/symbol.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="personal-item">
                <img class="personal-photo" src="./../src/images/developer-photo/Aleksandr-Pilganchuk-150х145.jpg" width="150" alt="фото фронтэнд разработчика">
                <h3 class="headlines-name">Aleksandr Pilganchuk</h3>
                <p class="position">Developer</p>
                <ul class="social">
                    <li>
                        <a class="social-item" href="">
                            <svg width="20px" height="20px">
                                <use href="./../src/images/svg/symbol.svg#git"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="social-item" href="">
                            <svg width="20px" height="20px">
                                <use class="social-icon" href="./../src/images/svg/symbol.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="personal-item">
                <img class="personal-photo" src="./../src/images/developer-photo/Ihor-Venher-150х145.jpg" width="150" alt="фото фронтэнд разработчика">
                <h3 class="headlines-name">Ihor Venher</h3>
                <p class="position">Developer</p>
                <ul class="social">
                    <li>
                        <a class="social-item" href="">
                            <svg width="20px" height="20px">
                                <use href="./../src/images/svg/symbol.svg#git"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="social-item" href="">
                            <svg width="20px" height="20px">
                                <use class="social-icon" href="./../src/images/svg/symbol.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="personal-item">
                <img class="personal-photo" src="./../src/images/developer-photo/Aleksandr-Pilganchuk-150х145.jpg" width="150" alt="фото фронтэнд разработчика">
                <h3 class="headlines-name">Aleksandr Pilganchuk</h3>
                <p class="position">Developer</p>
                <ul class="social">
                    <li>
                        <a class="social-item" href="">
                            <svg width="20px" height="20px">
                                <use href="./../src/images/svg/symbol.svg#git"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="social-item" href="">
                            <svg width="20px" height="20px">
                                <use class="social-icon" href="./../src/images/svg/symbol.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="headlines-list2 list">
            <li class="personal-item">
                <img class="personal-photo" src="./../src/images/developer-photo/Ihor-Venher-150х145.jpg" width="150" alt="фото фронтэнд разработчика">
                <h3 class="headlines-name">Ihor Venher</h3>
                <p class="position">Team Lead</p>
                <ul class="social">
                    <li>
                        <a class="social-item" href="">
                            <svg width="20px" height="20px">
                                <use href="./../src/images/svg/symbol.svg#git"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="social-item" href="">
                            <svg width="20px" height="20px">
                                <use class="social-icon" href="./../src/images/svg/symbol.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="personal-item">
                <img class="personal-photo" src="./../src/images/developer-photo/Aleksandr-Pilganchuk-150х145.jpg" width="150" alt="фото фронтэнд разработчика">
                <h3 class="headlines-name">Aleksandr Pilganchuk</h3>
                <p class="position">Scrum Master</p>
                <ul class="social">
                    <li>
                        <a class="social-item" href="">
                            <svg width="20px" height="20px">
                                <use href="./../src/images/svg/symbol.svg#git"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="social-item" href="">
                            <svg width="20px" height="20px">
                                <use class="social-icon" href="./../src/images/svg/symbol.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="personal-item">
                <img class="personal-photo" src="./../src/images/developer-photo/Ihor-Venher-150х145.jpg" width="150" alt="фото фронтэнд разработчика">
                <h3 class="headlines-name">Ihor Venher</h3>
                <p class="position">Developer</p>
                <ul class="social">
                    <li>
                        <a class="social-item" href="">
                            <svg width="20px" height="20px">
                                <use href="./../src/images/svg/symbol.svg#git"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="social-item" href="">
                            <svg width="20px" height="20px">
                                <use class="social-icon" href="./../src/images/svg/symbol.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="personal-item">
                <img class="personal-photo" src="./../src/images/developer-photo/Aleksandr-Pilganchuk-150х145.jpg" width="150" alt="фото фронтэнд разработчика">
                <h3 class="headlines-name">Aleksandr Pilganchuk</h3>
                <p class="position">Developer</p>
                <ul class="social">
                    <li>
                        <a class="social-item" href="">
                            <svg width="20px" height="20px">
                                <use href="./../src/images/svg/symbol.svg#git"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="social-item" href="">
                            <svg width="20px" height="20px">
                                <use class="social-icon" href="./../src/images/svg/symbol.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="personal-item">
                <img class="personal-photo" src="./../src/images/developer-photo/Ihor-Venher-150х145.jpg" width="150" alt="фото фронтэнд разработчика">
                <h3 class="headlines-name">Ihor Venher</h3>
                <p class="position">Developer</p>
                <ul class="social">
                    <li>
                        <a class="social-item" href="">
                            <svg width="20px" height="20px">
                                <use href="./../src/images/svg/symbol.svg#git"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="social-item" href="">
                            <svg width="20px" height="20px">
                                <use class="social-icon" href="./../src/images/svg/symbol.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    
</div>