.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // width: 233px;
    height: 33px;
    @media screen and (max-width: $to-desktop) {
        margin-top: 60px;
    }
    @media screen and (min-width: $desktop) {
        margin-top: 80px;
    }
}

.pagination li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #000;
    color: #FFFFFF;
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    transition: 0.1s;
}

.pagination li:hover {
    border: 1px solid #DC56DC;
    border-radius: 10px 0px 10px 0px;
    color: #DC56C5;
}

.pagination li.active {
    border: 1px solid #DC56DC;
    border-radius: 10px 0px 10px 0px;
    color: #DC56C5;
}

.pagination li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 12px;
}