.logo {
  max-width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-size: contain;
}

body.light-theme {
  background-color: #dcdcdc;
  @media screen and(max-width: $to-mobile) {
    background-image: url(../images/noise-body.png);
    background-size: cover;
    background-position: center;
  }
  @media screen and(min-width: $mobile) {
    background-image: url(../images/noise-body.png);
    background-size: cover;
    background-position: center;
  }
  @media screen and(min-width: $tablet) {
    background-image: url(../images/svg/ellipseLightTheme-2.svg), url(../images/svg/ellipse-5.svg),
      url(../images/svg/ellipse-6.svg), url(../images/svg/ellipseLightTheme-11.svg),
      url(../images/svg/ellipse-10.svg), url(../images/svg/ellipse-4.svg),
      url(../images/svg/ellipseLightTheme-2.svg), url(../images/svg/ellipse-5.svg),
      url(../images/svg/ellipse-4.svg), url(../images/svg/line-1.svg), url(../images/svg/line-1.svg),
      url(../images/svg/line-1.svg), url(../images/svg/line-1.svg), url(../images/svg/line-1.svg),
      url(../images/svg/line-6.svg), url(../images/svg/line-6.svg), url(../images/noise-body.png);

    background-size: 80px, 126px, 237px, 80px, 126px, 237px, 80px, 126px, 237px, 1px, 1px, 1px, 1px,
      1px, 1px, 1px, cover;
    background-repeat: no-repeat;
    background-position: left 46px top 602px, left 26px top 582px, left 26px top 1882px,
      left 46px bottom 0px, left 26px bottom 0px, right 25px top 1010px, right 45px top 1910px,
      right 25px top 1890px, right 25px top 3020px, left 86px top -160px, left 86px top 708px,
      left 86px top 1450px, left 86px top 2150px, left 86px top 2651px, right 86px top -405px,
      right 86px top 2015px, center;
  }
  @media screen and(min-width: $desktop) {
    background-image: url(../images/svg/ellipseLightTheme-2.svg), url(../images/svg/ellipse-5.svg),
      url(../images/svg/ellipse-6.svg), url(../images/svg/ellipseLightTheme-11.svg),
      url(../images/svg/ellipse-10.svg), url(../images/svg/ellipse-4.svg),
      url(../images/svg/ellipseLightTheme-2.svg), url(../images/svg/ellipse-7.svg),
      url(../images/svg/ellipse-9.svg), url(../images/svg/Line-1.svg), url(../images/svg/line-3.svg),
      url(../images/svg/line-3.svg), url(../images/svg/line-2.svg), url(../images/svg/line-2.svg),
      url(../images/svg/line-2.svg), url(../images/noise-body.png);

    background-size: 136px, 216px, 334px, 136px, 216px, 334px, 136px, 216px, 334px, 1px, 1px, 1px,
      1px, 1px, 1px, cover;
    background-repeat: no-repeat;
    background-position: left 47px top 882px, left 7px top 842px, left 23px top 1554px,
      left 47px bottom 0px, left 7px bottom 0px, left 976px top 528px, left 1117px top 1989px,
      left 1077px top 1949px, left 976px top 2252px, left 115px top 100px, left 115px top 1057px,
      left 115px top 1287px, left 1185px top 110px, left 1185px top 754px, left 1185px top 1860px,
      center;
  }

  & .hero {
    background-image: linear-gradient(rgba(211, 211, 211, 0.5), rgba(211, 211, 211, 0.5)),
      url('../images/hero-mobile.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: $mobile),
    screen and (min-resolution: 192dpi) and (min-width: $mobile),
    screen and (min-resolution: 2dppx) and (min-width: $mobile) {
    .hero {
      background-image: linear-gradient(rgba(211, 211, 211, 0.5), rgba(211, 211, 211, 0.5)),
        url('../images/hero-mobile@2x.jpg');
    }
  }
  @media screen and (min-width: $tablet) {
    .hero {
      background-image: linear-gradient(rgba(211, 211, 211, 0.5), rgba(211, 211, 211, 0.5)),
        url('../images/hero-tablet.jpg');
    }
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: $tablet),
    screen and (min-resolution: 192dpi) and (min-width: $tablet),
    screen and (min-resolution: 2dppx) and (min-width: $tablet) {
    .hero {
      background-image: linear-gradient(rgba(211, 211, 211, 0.5), rgba(211, 211, 211, 0.5)),
        url('../images/hero-tablet@2x.jpg');
    }
  }
  @media screen and (min-width: $desktop) {
    .hero {
      background-image: linear-gradient(rgba(211, 211, 211, 0.5), rgba(211, 211, 211, 0.5)),
        url('../images/hero.jpg');
    }
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: $desktop),
    screen and (min-resolution: 192dpi) and (min-width: $desktop),
    screen and (min-resolution: 2dppx) and (min-width: $desktop) {
    .hero {
      background-image: linear-gradient(rgba(211, 211, 211, 0.5), rgba(211, 211, 211, 0.5)),
        url('../images/hero@2x.jpg');
    }
  }
}

body {
  background-color: #0e0e0e;
  transition: background-color 350ms ease;

  @media screen and(max-width: $to-mobile) {
    background-image: url(../images/noise-body.png);
    background-size: cover;
    background-position: center;
  }
  @media screen and(min-width: $mobile) {
    background-image: url(../images/noise-body.png);
    background-size: cover;
    background-position: center;
  }
  @media screen and(min-width: $tablet) {
    background-image: url(../images/svg/ellipse-2.svg), url(../images/svg/ellipse-5.svg),
      url(../images/svg/ellipse-6.svg), url(../images/svg/ellipse-11.svg),
      url(../images/svg/ellipse-10.svg), url(../images/svg/ellipse-4.svg),
      url(../images/svg/ellipse-2.svg), url(../images/svg/ellipse-5.svg),
      url(../images/svg/ellipse-4.svg), url(../images/svg/line-1.svg), url(../images/svg/line-1.svg),
      url(../images/svg/line-1.svg), url(../images/svg/line-1.svg), url(../images/svg/line-1.svg),
      url(../images/svg/line-6.svg), url(../images/svg/line-6.svg), url(../images/noise-body.png);

    background-size: 80px, 126px, 237px, 80px, 126px, 237px, 80px, 126px, 237px, 1px, 1px, 1px, 1px,
      1px, 1px, 1px, cover;
    background-repeat: no-repeat;
    background-position: left 46px top 602px, left 26px top 582px, left 26px top 1882px,
      left 46px bottom 0px, left 26px bottom 0px, right 25px top 1010px, right 45px top 1910px,
      right 25px top 1890px, right 25px top 3020px, left 86px top -160px, left 86px top 708px,
      left 86px top 1450px, left 1007px top 2150px, left 86px top 2651px, right 86px top -405px,
      right 86px top 2015px, center;
  }
  @media screen and(min-width: $desktop) {
    background-image: url(../images/svg/ellipse-2.svg), url(../images/svg/ellipse-5.svg),
      url(../images/svg/ellipse-6.svg), url(../images/svg/ellipse-11.svg),
      url(../images/svg/ellipse-10.svg), url(../images/svg/ellipse-4.svg),
      url(../images/svg/ellipse-8.svg), url(../images/svg/ellipse-7.svg),
      url(../images/svg/ellipse-9.svg), url(../images/svg/line-1.svg), url(../images/svg/line-3.svg),
      url(../images/svg/line-3.svg), url(../images/svg/line-2.svg), url(../images/svg/line-2.svg),
      url(../images/svg/line-2.svg), url(../images/noise-body.png);

    background-size: 136px, 216px, 334px, 136px, 216px, 334px, 136px, 216px, 334px, 1px, 1px, 1px,
      1px, 1px, 1px, cover;
    background-repeat: no-repeat;
    background-position: left 47px top 882px, left 7px top 842px, left 23px top 1554px,
      left 47px bottom 0px, left 7px bottom 0px, left 976px top 528px, left 1117px top 1989px,
      left 1077px top 1949px, left 976px top 2252px, left 115px top 100px, left 115px top 1057px,
      left 115px top 1287px, left 1185px top 110px, left 1185px top 754px, left 1185px top 1860px,
      center;
  }
}

.toolbar {
  position: absolute;
  z-index: 1;
  display: flex;
  right: 100px;
  top: 20px;

  padding: 16px 24px;
}

/* THEME SWITCH */
.theme-switch {
  display: flex;
  align-items: center;
}

.moon {
  position: absolute;
  background-color: white;
  right: -90px;
  z-index: 2;
  border-radius: 50%;
}

.sun {
  position: absolute;
  background-color: white;
  right: 10px;
  z-index: 2;
  border-radius: 50%;
}

.theme-switch__control {
  display: flex;
  right: -60px;
  align-items: center;
  flex-shrink: 0;
  position: absolute;
  width: 64px;
  height: 32px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: white;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: #dc56c5;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
  transition: transform 250ms var(--timing-function);
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: #333;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(35px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  box-shadow: 0 0 0 3px #2196f3;
}

.header-my-favorites-btn {
  margin-right: 20px;
  border: 0;
  border-radius: 20px;
  height: 32px;
  width: 122px;
  cursor: pointer;
  background-color: #dc56c5;
  color: #ffffff;
  // vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .logo {
    width: 108px;
    height: 91px;
    background-image: url('../images/logo-mob.png');
  }

  .toolbar {
    top: 5px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .logo {
      background-image: url('../images/logo-mob@2x.png');
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    width: 179px;
    height: 151px;
    background-image: url('../images/logo-tablet.png');
  }

  .toolbar {
    top: 0px;
  }

  .header-my-favorites-btn {
    height: 26px;
    width: 112px;
    font-size: 14px;
  }

  // .theme-switch__control {
  //   height: 26px;
  // }

  // .theme-switch__control {
  //   height: 26px;
  // }

  // .theme-switch__marker {
  //   height: 22px;
  //   width: 22px;
  // }

  // .theme-switch__track {
  //   width: 64px;
  // }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .logo {
      background-image: url('../images/logo-tablet@2x.png');
    }
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    width: 241px;
    height: 202px;
    background-image: url('../images/logo-laptop.png');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .logo {
      background-image: url('../images/logo-laptop@2x.png');
    }
  }
}
